<nav class="p-3">
  <ul class="nav nav-pills">
    <li *ngFor="let action of actions">
      <button
        routerLink="{{action.route}}"
        [class]="action==currentAction? 'btn btn-success ms-1':'btn btn-outline-success ms-1'"
        (click)="setCurrentAction(action)"
      >
        {{action.title}} <i class="{{action.icon}} text-success"></i>
      </button>
    </li>
    <li *ngIf="loadoingService.isLoading$ | async">
      <div class="spinner-border text-primary ms-2" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </li>


  </ul>
</nav>
